<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Crear nuevo producto</h1>
    <hr>
    <form th:action="@{/productos/save}" th:object="${productoEISG}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre<span style="color:red;">*</span></label>
                    <input type="text" class="form-control" th:field="*{nombreEISG}" id="nombre" placeholder="Escriba el nombre del productoEISG" required>
                    <div th:if="${#fields.hasErrors('nombreEISG')}" class="alert alert-danger">
                        <span th:each="err : ${#fields.errors('nombreEISG')}" th:text="${err}"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" th:field="*{descripcionEISG}" id="descripcion" cols="12" rows="3"></textarea>
                    <div th:if="${#fields.hasErrors('descripcionEISG')}" class="alert alert-danger">
                        <span th:each="err : ${#fields.errors('descripcionEISG')}" th:text="${err}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="precio">Precio<span style="color:red;">*</span></label>
                    <input type="number" step="0.01" class="form-control" th:field="*{precioEISG}" id="precio" placeholder="Escriba el precio del productoEISG" required>
                    <div th:if="${#fields.hasErrors('precioEISG')}" class="alert alert-danger">
                        <span th:each="err : ${#fields.errors('precioEISG')}" th:text="${err}"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaVencimiento">Fecha de Vencimiento<span style="color:red;">*</span></label>
                    <input type="date" class="form-control" th:field="*{fechaVencimientoEISG}" id="fechaVencimiento" required>
                    <div th:if="${#fields.hasErrors('fechaVencimientoEISG')}" class="alert alert-danger">
                        <span th:each="err : ${#fields.errors('fechaVencimientoEISG')}" th:text="${err}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estatus">Estatus<span style="color: red">*</span></label>
                    <select class="form-control" th:field="*{estatusEISG}" id="estatus">
                        <option value="1">Disponible</option>
                        <option value="2">Agotado</option>
                    </select>
                    <div th:if="${#fields.hasErrors('estatusEISG')}" class="alert alert-danger">
                        <span th:each="err : ${#fields.errors('estatusEISG')}" th:text="${err}"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="existencia">Existencia<span style="color:red;">*</span></label>
                    <input type="number" class="form-control" th:field="*{existenciaEISG}" id="existencia" placeholder="Escriba la existencia del productoEISG">
                    <div th:if="${#fields.hasErrors('existenciaEISG')}" class="alert alert-danger">
                        <span th:each="err : ${#fields.errors('existenciaEISG')}" th:text="${err}"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="padding: 15px">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary" style="width: 100%">Guardar</button>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <a th:href="@{/productos}" class="btn btn-outline-secondary" style="width: 100%">Regresar</a>

                </div>
            </div>
        </div>



    </form>
</div>